[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group ldap/opnfv-gerrit-openretriever-submitters
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group ldap/opnfv-gerrit-openretriever-submitters
	submit = group ldap/opnfv-gerrit-openretriever-submitters
	forgeAuthor = group ldap/opnfv-gerrit-openretriever-contributors
	forgeAuthor = group ldap/opnfv-gerrit-openretriever-submitters
	read = group GitHub Replication
[access "refs/tags/*"]
	create = group ldap/opnfv-gerrit-openretriever-submitters
	push = group ldap/opnfv-gerrit-openretriever-submitters
	pushTag = group ldap/opnfv-gerrit-openretriever-submitters
	pushSignedTag = group ldap/opnfv-gerrit-openretriever-submitters
	read = group GitHub Replication
