---
apiVersion: v1
kind: Pod
metadata:
  name: multus-test
  annotations:
    networks: '[
      { "name": "flannel-networkobj" },
      { "name": "macvlan-networkobj" }
    ]'
spec:
  containers:
    - name: multus-test
      image: "busybox"
      command: ["sleep", "100d"]
      stdin: true
      tty: true
  nodeSelector:
    kubernetes.io/hostname: "{{ groups['kube-node'][0] }}"
